@model TRAIN_Calculator.ViewModels.PayrollViewModel
<head>


    <style type="text/css">
        .btnRemove {
            color: gray;
            display: inline-block;
        }

            .btnRemove:hover {
                color: red;
            }
    </style>


</head>

<div class="container">
    <div class="row">

        <div class="form-horizontal">

            <div class="col-md-6">
                <div class="col-md-offset-1">
                    <h3>Compensations</h3>
                </div>
                <hr />
                <div class="col-md-offset-1">
                    @Html.EnumDropDownListFor(model => model.PaySlipCompensations.Compensations, "Compensations", new { @class = "form-control DDL_CompensationList", data_toggle = "tooltip", data_placement = "right", title = "Add Compensation" })
                </div>


                <dl id="CompensationList" class="list-group">

                    <dd class="col-md-offset-1 hide" id="Allowance" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipCompensations.Allowance) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipCompensations.Allowance, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipCompensations.Allowance, "", new { @class = "text-danger" })
                    </dd>

                    <dd class="col-md-offset-1 hide" id="ECOLA" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipCompensations.ECOLA) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipCompensations.ECOLA, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.PaySlipCompensations.ECOLA, "", new { @class = "text-danger" })
                    </dd>

                    <dd class="col-md-offset-1 hide" id="HolidayPay" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipCompensations.HolidayPay) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipCompensations.HolidayPay, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipCompensations.HolidayPay, "", new { @class = "text-danger" })
                    </dd>

                </dl>
            </div>
            <div class="col-md-6">
                <div class="col-md-offset-1">
                    <h3>Deductions</h3>
                </div>
                <div class="col-md-offset-1">
                    @Html.EnumDropDownListFor(model => model.PaySlipDeductions.Deductions, "Deductions", new { @class = "form-control DDL_DeductionList", data_toggle = "tooltip", data_placement = "right", title = "Add Deductions" })
                </div>

                    @* De Minimis *@

                    <dd class="col-md-offset-1 hide" id="UnusedVacationLeave" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeMinimis.UnusedVacationLeave) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeMinimis.UnusedVacationLeave, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipDeMinimis.UnusedVacationLeave, "", new { @class = "text-danger" })
                    </dd>


                    <dd class="col-md-offset-1 hide" id="VacationandSickLeaveCredits" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeMinimis.VacationandSickLeaveCredits) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeMinimis.VacationandSickLeaveCredits, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipDeMinimis.VacationandSickLeaveCredits, "", new { @class = "text-danger" })
                    </dd>

                    <dd class="col-md-offset-1 hide" id="MedicalAllowancetoEmployeeDependents" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeMinimis.MedicalAllowancetoEmployeeDependents) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeMinimis.MedicalAllowancetoEmployeeDependents, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipDeMinimis.MedicalAllowancetoEmployeeDependents, "", new { @class = "text-danger" })
                    </dd>

                    <dd class="col-md-offset-1 hide" id="RiceSubsidy" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeMinimis.RiceSubsidy) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeMinimis.RiceSubsidy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipDeMinimis.RiceSubsidy, "", new { @class = "text-danger" })
                    </dd>

                    <dd class="col-md-offset-1 hide" id="UniformandClothing" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeMinimis.UniformandClothing) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeMinimis.UniformandClothing, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipDeMinimis.UniformandClothing, "", new { @class = "text-danger" })
                    </dd>

                    <dd class="col-md-offset-1 hide" id="MedicalExpenses" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeMinimis.MedicalExpenses) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeMinimis.MedicalExpenses, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipDeMinimis.MedicalExpenses, "", new { @class = "text-danger" })
                    </dd>

                    <dd class="col-md-offset-1 hide" id="LaundryAllowance" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeMinimis.LaundryAllowance) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeMinimis.LaundryAllowance, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipDeMinimis.LaundryAllowance, "", new { @class = "text-danger" })
                    </dd>

                    <dd class="col-md-offset-1 hide" id="AchievementAwards" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeMinimis.AchievementAwards) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeMinimis.AchievementAwards, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipDeMinimis.AchievementAwards, "", new { @class = "text-danger" })
                    </dd>

                    <dd class="col-md-offset-1 hide" id="ChristmasGifts" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeMinimis.ChristmasGifts) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeMinimis.ChristmasGifts, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipDeMinimis.ChristmasGifts, "", new { @class = "text-danger" })
                    </dd>

                    <dd class="col-md-offset-1 hide" id="DailyMealAllowance" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeMinimis.DailyMealAllowance) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeMinimis.DailyMealAllowance, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipDeMinimis.DailyMealAllowance, "", new { @class = "text-danger" })
                    </dd>

                    <dd class="col-md-offset-1 hide" id="CollectiveBargainingAgreement" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeMinimis.CollectiveBargainingAgreement) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeMinimis.CollectiveBargainingAgreement, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaySlipDeMinimis.CollectiveBargainingAgreement, "", new { @class = "text-danger" })
                    </dd>

                </dl>
            </div>

            @*<div class="col-md-4">
            
                <div class="col-md-offset-1">
                    <h3>Deductions</h3>
                </div>
                <hr />
                <div class="col-md-offset-1">
                    @Html.EnumDropDownListFor(model => model.PaySlipDeductions.Deductions, "Deductions", new { @class = "form-control DDL_DeductionList", data_toggle = "tooltip", data_placement = "right", title = "Add Deductions" })
                </div>


                <dl id="DeductionList" class="list-group">

                    <dd class="col-md-offset-1 hide" id="SSSLoan" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeductions.SSSLoan) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeductions.SSSLoan, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.PaySlipDeductions.SSSLoan, "", new { @class = "text-danger" })
                    </dd>


                    <dd class="col-md-offset-1 hide" id="PAGIBIGLoan" style="padding:2px;">
                        @Html.DisplayNameFor(model => model.PaySlipDeductions.PAGIBIGLoan) <i class="fas fa-trash-alt btnRemove"></i>
                        @Html.EditorFor(model => model.PaySlipDeductions.PAGIBIGLoan, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.PaySlipDeductions.PAGIBIGLoan, "", new { @class = "text-danger" })
                    </dd>


                </dl>
            </div>*@

        </div>

    </div>
</div>